{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}
    <h1>Dealt Cards</h1>
    <div class="game-container">
        {{ include('card_nav.html.twig') }}
        <div class="content-column">
            {% for playerCards in playerCardPaths %}
                <h2>Player {{ loop.index }}</h2>
                <ul>
                    {% for cardPath in playerCards %}
                        <img class="card-image" src="{{ asset(cardPath) }}" alt="Card Image">
                    {% endfor %}
                </ul>
            {% endfor %}
            <p>Remaining Cards in the Deck: {{ remainingCards }}</p>
        </div>
    </div>
{% endblock %}
