{% extends "base.html.twig" %}

{% block title %}Deck of Cards{% endblock %}

{% block main %}
    <h1>Sorted Deck of Cards</h1>
    <div class="game-container">
        {{ include('card_nav.html.twig') }}
        <div class="content-column">
            {{ include('flash.html.twig') }}

            <p>You now have a full sorted deck:</p>
            <ul>
                {% for cardPath in cardPaths %}
                    <img class="card-image" src="{{ asset(cardPath) }}" alt="Card Image">
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
