{% extends 'base.html.twig' %}

{% block title %}Draw Multiple Cards{% endblock %}

{% block main %}
    <h1>Draw Multiple Cards</h1>
    <div class="game-container">
        {{ include('card_nav.html.twig') }}
        <div class="content-column">
            {{ include('flash.html.twig') }}

            <div>
                <h2>Drawn Cards:</h2>
                <ul>
                    {% for card in drawnCards %}
                        <img src="{{ asset(card) }}" alt="Card Image">
                    {% endfor %}
                </ul>
            </div>

            <div>
                <p>Number of Remaining Cards in the Deck: {{ remainingCards }}</p>
            </div>
        </div>
    </div>
{% endblock %}
