{% extends 'base.html.twig' %}

{% block title %}Draw Multiple Cards{% endblock %}

{% block main %}
    <h1>Draw Multiple Cards</h1>

    <div>
        <h2>Drawn Cards:</h2>
        <ul>
            {% for card in drawnCards %}
                <li>{{ card }}</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <p>Number of Remaining Cards in the Deck: {{ remainingCards }}</p>
    </div>
{% endblock %}
