{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}
    <h1>Card Game</h1>
    <div class="game-container">
        {{ include('card_nav.html.twig') }}
        <div class="content-column">
            {{ include('flash.html.twig') }}
            <h2>Klasser</h2>
            <p>
                Card representerar ett spelkort med ett numeriskt värde. 
                Klassen innehåller metoder för att få fram kortets värde och getCardAsString-metoden returnerar en sträng med kortets värde.
            </p>
            <p>
                CardGraphic ärver från Card-klassen, den returnerar en grafisk representationen baserat på kortets värde. Här använder jag en array med sökvägar till bildfiler för varje kort.
            </p>
            <p>
                CardHand representerar en hand med kort och gör att användaren kan lägga till kort i handen, hämta kortvärden samt strängrepresentationer.<br>
                CardHand innehåller en samling av Card-objekt i vad som kallas en Composition-relation, vilket innebär att om CardHand raderas så raderas även Card-objekten.
            </p>
            <p>
                DeckOfCards genererar en kortlek med hjälp av CardGraphic. <br>
                Metoden generateDeck() skapar och returnerar en hel kortlek. Detta är nästan som composition men lite annorlunda då den inte "har" en annan klass, den använder istället temporärt CardGraphic för att generera en kortlek, så därför skulle jag klassa det som Dependency istället för Composition. 
            </p>
        </div>
    </div>
{% endblock %}

