{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}
    <h1>Card Game</h1>
    <div class="game-container">
        {{ include('card_nav.html.twig') }}
        <div class="content-column">
            {{ include('flash.html.twig') }}
            <h2>Klasser</h2>
            <p>
                Card representerar ett spelkort med ett numeriskt värde.<br>
                Klassen innehåller metoder för att få fram kortets värde, få ut en strängrepresentation av kortet samt en strängrepresentation som lämpar sig mer för API-svar.
            </p>
            <p>
                CardGraphic ärver från Card-klassen (en "is a"-relation), den returnerar en grafisk representationen baserat på kortets värde. Här använder jag en array med sökvägar till bildfiler för varje kort.
            </p>
            <p>
                DeckOfCards genererar en kortlek med hjälp av Card-klassen. <br>
                Metoden generateDeck() skapar en kortlek med Card-objekt, i vad som kallas en Composition-relation ("has a").
            </p>
            <p>
                CardHand representerar en hand med kort och gör att användaren kan dra kort från kortleken och dela ut dem till spelare. CardHand innehåller alltså en samling av Card-objekt (addCard() som injectar Card).<br>
            </p>
            <br>
            <img src="{{ asset('img/carduml.webp') }}" alt="An MVC image">
        </div>
    </div>
{% endblock %}
