{% extends "base.html.twig" %}

{% block title %}Session Contents{% endblock %}

{% block main %}
   <h1>Session Contents</h1>
   <div class="game-container">
        {{ include('card_nav.html.twig') }}
        <div class="content-column">
            {{ include('flash.html.twig') }}
            <h2>Session Data:</h2>
            <pre>
                {{ dump(sessionData) }}
            </pre>
        </div>
   </div>
{% endblock %}