{% extends "base.html.twig" %}

{% block title %}Shuffled Deck of Cards{% endblock %}

{% block main %}
    <h1>Shuffled Deck of Cards</h1>
    <div class="game-container">
        {{ include('card_nav.html.twig') }}
        <div class="content-column">
            {{ include('flash.html.twig') }}
            <p>You now have a full shuffled deck:</p>
            <ul>
                {% for card in deck %}
                    <img src="{{ asset(card.getAsString()) }}" alt="Card Image">
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
