{% extends "base.html.twig" %}

{% block title %}Blackjack{% endblock %}

{% block main %}
    <h1>Blackjack</h1>
    <div class="bjgame-container">
        <div class="content-column">
            <h2>Blackjack</h2>
            <p>Rules:
            </p>
            <p>In blackjack, players aim to beat the dealer's hand without exceeding a total of 21 points.<br>
            Each player is dealt two cards initially, while the dealer receives one face-up card and one face-down card.<br>
            Players can choose to "hit" to receive another card or "stand" to keep their current hand.<br>
            If a player's hand exceeds 21 points, they "bust" and lose the round automatically.<br>
            After the player have completed their turn, the dealer reveals their face-down card. The dealer must hit until their hand reaches over 16.<br>
            If the dealer busts or their hand is lower than the players hand without busting, player wins.<br>
            If the dealer's hand beats the players hand without busting, the dealer wins.<br>
            In the case of a tie (called a "push"), players neither win nor lose their bets.<br>
            <br>
            <p>Card values: 1-10 at face value, Jack, Queen and King is 10, Ace is either 1 or 11.
            </p>
            <form action="{{ path('game_init') }}">
                <button type="submit" class="btn btn-primary">Start Playing</button>
            </form>
            <br>
            <form action="{{ path('game_doc') }}">
                <button type="submit" class="btn btn-primary">Read Documentation</button>
            </form>
        </div>
    </div>
{% endblock %}
