{% extends "base.html.twig" %}

{% block title %}Place Your Bet{% endblock %}

{% block main %}
    <h1>Place Your Bet</h1>
    <div class="bjgame-container">
        <div class="content-column">
            <div class="betting">
                {{ include('flash.html.twig') }}
                <p>How much money do you want to bet for this round?</p>
                <br>
                <form method="post" action="{{ path('game_init_post') }}">
                    <input type="number" name="playerbet" min="1" max="100">
                    <input type="submit" name="do_it" value="Start playing">
                </form>
                <br><br>
                <h2>Current Bank Status:</h2>
                <p>Player Money: {{ playerMoney }}<br>
                Dealer Money: {{ dealerMoney }}</p>
            </div>
        </div>
    </div>
{% endblock %}
