body {
    background: url('../images/background.webp');
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/header.webp');
    height: 100px;
    margin: 0 auto;
    padding: 15px;
    max-width: 1200px;
    color:#f1f1f1;
    text-align: center;
    font-size: 2.2em;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}

main {
    margin: 0 auto;
    min-height: 750px;
    max-width: 1200px;
    padding: 15px;
    background-color: #232323;
    color:#e7e7e7
}

h1 {
    border-bottom: 4px double #ccc;
}

p {
    line-height: 1.4;
}

.report-container {
    display: flex;
    padding-bottom: 20px;
}

.about-container {
    display: flex;
}

.game-container {
    display: flex;
    padding-bottom: 20px;
    padding-right: 30px;
    min-height: 500px;
}

.bjgame-container {
    display: flex;
    text-align: center;
    padding-bottom: 20px;
    padding-right: 30px;
    background-color: #0a3c24;
    border: 10px solid #3a2414;
    min-height: 500px;
}

.lucky-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 750px;
    border-top: 5px dotted green;
    border-bottom: 5px dotted red;
    border-left: 5px dotted blue;
    border-right: 5px dotted yellow;
}

.links-column {
    flex: 1;
    max-width: 180px;
    background-color: #333;
    height: 350px;
}

.content-column {
    flex: 2;
    padding-left: 20px;
}

.links-column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 180px;
    background-color: #333;
}

.links-column ul li {
    margin-bottom: 10px;
}

.links-column ul li a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
}

.links-column ul li a:hover {
    background-color: #111;
    color: white;
}

.links-column a {
    display: block;
    margin-bottom: 10px;
    color: #FFF;
    text-decoration: none;
}

.links-column a:hover {
    text-decoration: underline;
}

.navbar {
    margin: 0 auto;
    max-width: 1230px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #111;
}

.navbar .active {
    background-color: #04AA6D;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(35, 35, 35, 0.5);
    color: #c9c9c9;
    text-align: center;
}

/**
* kmom02
*/

input {
    font-size: 1em;
}

.die {
    font-size: 2.3em;
}

ul .dicearea {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul .dicearea li {
    display: inline;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

.number-input {
    width: 55px;
}

.draw-form {
    padding-left: 15px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.draw-form input[type="submit"] {
    width: 62px;
}

.deal-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.deal-form input[type="submit"] {
    width: 62px;
}

.card-image {
    position: relative; /* Set the position to relative */
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7); /* Added 'px' units */
}
.card-image + .card-image {
    position: relative; /* Set the position to relative */
    left: -35px; /* Adjust the top position to make it overlap slightly */
    z-index: 1; /* Set a higher z-index to make it appear on top */
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7); /* Added 'px' units */
}

.card-image + .card-image + .card-image {
    position: relative; /* Set the position to relative */
    left: -70px; /* Adjust the top position to make it overlap slightly */
    z-index: 1; /* Set a higher z-index to make it appear on top */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Added 'px' units */
}

.card-image + .card-image + .card-image + .card-image {
    position: relative; /* Set the position to relative */
    left: -105px; /* Adjust the top position to make it overlap slightly */
    z-index: 1; /* Set a higher z-index to make it appear on top */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Added 'px' units */
}

.card-image + .card-image + .card-image + .card-image + .card-image {
    position: relative; /* Set the position to relative */
    left: -140px; /* Adjust the top position to make it overlap slightly */
    z-index: 1; /* Set a higher z-index to make it appear on top */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Added 'px' units */
}

.blackjack-container {
    display: grid;
    background-color: #0a3c24;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    border: 10px solid #3a2414;
    min-height: 720px;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-1 {
    grid-column: 1;
    grid-row: 1;
}

.square-2 {
    grid-column: 2;
    grid-row: 1;
}

.square-3 {
    grid-column: 3;
    grid-row: 1;
    text-align: center;
}

.square-4 {
    grid-column: 1;
    grid-row: 2;
}

.square-5 {
    grid-column: 2;
    grid-row: 2;
}

.square-6 {
    grid-column: 3;
    grid-row: 2;
}

.blackjack-log {
    background-color: rgba(16, 45, 17, 0.5);
    border: 3px dotted #276730;
    color: #fff;
    padding: 15px;
    overflow-y: auto;
    height: 300px;
    margin: 8px;
}

.blackjack-players {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.blackjack-controls {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.blackjack-controls form {
    margin-bottom: 10px;
}

.blackjack-controls p {
    display: flex;
    justify-content: space-between;
}

.blackjack-controls input[type="submit"] {
    padding: 10px 18px;
    font-size: 12px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bolder;
    transition: background-color 0.3s;
}

.blackjack-controls input[name="hit"] {
    background-color: rgb(231, 231, 181); /* Set background color for Hit button */
}

.blackjack-controls input[name="stand"] {
    background-color: rgb(226, 182, 182); /* Set background color for Stand button */
}

.blackjack-controls input[name="hit"],
.blackjack-controls input[name="stand"] {
    border-radius: 20px; /* Make Hit and Stand buttons more rounded */
    padding: 13px 25px;
    font-size: 16px;
    margin: 5px;
}

.blackjack-controls input[type="submit"]:hover {
    filter: brightness(70%);
}

.betting {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.pseudo-code {
    white-space: pre-wrap;
    background-color: #f4f4f4; 
    color: #000;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #ccc;
}

.flowchart-container img {
    max-width: 1100px;
}

.library {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color:#000;
  }
  
  .library td, .library th {
    padding: 8px;
    color:#000;
  }
  
  .library tr:nth-child(even){background-color: #e8e8e8;}
  .library tr:nth-child(odd){background-color: #ced5d1;}
  
  .library th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #a4c796;
    color: #000;
}

/* Primary button */
.btn-primary {
    background-color: #008e0c;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #005b08;
}

/* Warning button */
.btn-warning {
    background-color: #ffc107;
    color: #212529;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
}

.btn-warning:hover {
    background-color: #a87e00;
}

/* Danger button */
.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
}

.btn-danger:hover {
    background-color: #87131f;
}

.metrics-image {
    max-width: 650px;
}

