body {
    font-family: Arial, sans-serif;
    background-color: rgb(36, 73, 31);
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    background-color: #333;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 10px;
}

.navbar li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #111;
}

.navbar .active {
    background-color: #04aa04;
}

.content {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.winner-announcement {
    text-align: center;
    margin-bottom: 20px;
}

.winner-announcement h1 {
    font-size: 2em;
    color: #FFD700;
}

.game-info {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.community-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.community-cards {
    width: 90%;
    padding: 20px;
    background-color: #2a5226;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center; /* Center the community cards horizontally */
}

.community-cards .cards {
    display: flex;
    gap: 20px;
    padding-left: 20px; /* Padding to adjust starting position, can be removed if unnecessary */
}

.players {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.player {
    border: 1px solid #000;
    padding: 10px;
    width: 30%;
}

.cards {
    display: flex;
    gap: 10px;
}

.action-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.action-buttons button {
    padding: 10px 20px; /* Increase the button size */
    font-size: 1.1em; /* Increase font size */
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-buttons button:hover {
    background-color: #666;
}

.actions {
    margin-top: 20px;
    text-align: center;
}
