{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>
        <a href="{{ asset('img/portrait.jpg') }}">
            <img src="{{ asset('img/portrait.jpg') }}" alt="">
        </a>
{% endblock %}