{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    <p>Hej! Jag heter Isabel Westling.<br>
    Jag är född och uppvuxen utanför Skellefteå och på fritiden gillar jag bl.a. att illustrera, både digitalt och analogt med kol och blyerts, samt att spela spel med vänner. Jag gillar även musik, film och att se på ishockey.
    Just nu studerar jag mvc vid BTH.
    </p>
        <a href="{{ asset('img/portrait.jpg') }}">
            <img src="{{ asset('img/portrait.jpg') }}" alt="">
        </a>
{% endblock %}