{% extends 'texas/base.html.twig' %}

{% block title %}Texas Hold'em - About{% endblock %}

{% block main %}
    <h1>About</h1>
    <p>För detta projekt har jag valt att göra ett Texas Hold'em spel. Spelet fungerar som ett vanligt Texas Hold'em där man spelar mot två Datorer som agerar utifrån valfri svårighetsgrad.</p>
    <p>Small Blind är 2 chips, Big Blind är 4 chips.</p>
    <p>När man har vunnit en stor pot kan man välja att spara den i en databas som håller koll på de största pot-vinsterna, likt en highscore-lista.</p>
    <br>
    <form method="get" action="{{ path('game_database') }}">
        <button type="submit">Datebase</button>
    </form>
{% endblock %}
