{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block main %}
<div class="example-wrapper">
    <p>Select what you would like to do:</p>
    <ul>
        <a href="{{ path('book_show_all') }}" class="btn btn-primary">See All Books</a>
        <a href="{{ path('book_create') }}" class="btn btn-primary">Add New Book</a>
        <a href="{{ path('library_reset') }}" class="btn btn-primary">Reset Library</a>
        
    </ul>
</div>
{% endblock %}
    